{{!< layout}}
<div class="aui-group">
  <div class="aui-item">
    <h3>How many rounds are played?</h3>
  </div>
  <div class="aui-item">
    <h3>Which language should the questions be in?</h3>
  </div>
</div>
